name: hen_lehen_patient
description: هُنَّ لَهُنَّ - تطبيق المريضة
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  provider: ^6.1.1
  go_router: ^13.0.0
  shared_preferences: ^2.2.2
  google_fonts: ^6.1.0
  flutter_rating_bar: ^4.0.1
  iconsax: ^0.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  flutter_launcher_icons: ^0.13.1

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/icons/icon.jpg"
  adaptive_icon_background: "#E91E8C"

flutter:
  uses-material-design: true
  assets:
    - assets/icons/
    - assets/images/
